.sidebar-module {
  border-bottom: 1px solid #91A9D8; 
  margin-bottom: 15px;
  padding-bottom: 15px;
  h2 {
  	margin-bottom: 15px;
  	border-bottom: 1px solid #91A9D8;
  }
  .azbyka-saints {
  	font-size: 14px;
  	text-align: center;
  }
}
