.wrap {
  background-color: #fff;
  padding-bottom: 90px;
  padding-top: 15px;
}

.btn {
  transition: background-color ease 0.2s;
}

@media (nin-width: 768px) {
  .wrap {
    padding-top: 40px;
  }
}